

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form [formGroup]="newFiliereFormGroup" (ngSubmit)="handleAddModule()">
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Informations sur la Filière<span
              ><a href="javascript:;"
              ><i class="feather-more-vertical"></i></a
              ></span>
              </h5>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Module <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="libellé ...."
                  formControlName="libelle_Mod"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Responsable<span class="login-danger">*</span></label>
                <select class="form-control" formControlName="id_Prof_CM">
                  <option *ngFor="let prof of profs" [value]="prof.ID_Prof">{{ prof.nom_Prof+" "+prof.prenom_Prof }}</option>
                </select>
              </div>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Confirmer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
