<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form [formGroup]="editProfFormGroup" (submit)="handleUpdateProf()">
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Informations sur l'Enseignant<span
                  ><a href="javascript:;"
                    ><i class="feather-more-vertical"></i></a
                ></span>
              </h5>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Prénom <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="prenom_Prof"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Nom <span class="login-danger">*</span></label>
                <input class="form-control" type="text" formControlName="nom_Prof" />
              </div>
            </div>
            <!-- <div class="col-12 col-sm-4">
              <div class="form-group local-forms angle-icon">
                <label>Civilité <span class="login-danger">*</span></label>
                <select class="form-control select" formControlName="civilite">
                  <option value="F">Féminin</option>
                  <option selected="" value="M">Masculin</option>
                </select>
              </div>
            </div> -->

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>CIN <span class="login-danger">*</span></label>
                <input class="form-control" type="text" formControlName="CIN_Prof" />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>E-Mail <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="email_prof"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Spécialité <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="specialite_Prof"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Téléphone </label>
                <input class="form-control" type="text" formControlName="telephone_prof" />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label
                  >Nom d'utilisateur <span class="login-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="nom_utilisateur_Prof"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Mot de passe <span class="login-danger">*</span></label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="mdp_Prof "
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms angle-icon">
                <label>Role <span class="login-danger">*</span></label>
                <select class="form-control select" formControlName="Role_Prof">
                  <option value="Chef departement">Chef departement</option>
                  <option selected="" value="Chef filière">Chef filière</option>
                  <option selected="" value="Professeur">Professeur</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms angle-icon">
                <label>Etat compte <span class="login-danger">*</span></label>
                <select class="form-control select" formControlName="etat_compte_Prof">
                  <option value="active">Active</option>
                  <option value="suspendu">Suspendu</option>
                </select>
              </div>
            </div>
            <div
              class="col-12 d-flex align-items-center justify-content-center"
            >
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Confirmer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
