<app-page-header
  [link]="'salles'"
  [prev]="'Salles'"
  [current]="'Ajouter une salles'"
></app-page-header>

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form [formGroup]="editSalleFormGroup" (ngSubmit)="handleUpdateSalle()">
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Informations sur la Salle<span
                  ><a href="javascript:;"
                    ><i class="feather-more-vertical"></i></a
                ></span>
              </h5>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>label <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  formControlName="lib_salle"
                  type="text"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>capacité <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  formControlName="capacite"
                  type="number"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>type<span class="login-danger">*</span></label>
                <select class="form-control" formControlName="type_salle">
                  <option value="active">Cours</option>
                  <option value="suspendu">TD</option>
                  <option value="arrete">TP</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Nombre d'ordinateur <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  formControlName="ordinateur"
                  type="number"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Nombre de projecteur <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  formControlName="projecteur"
                  type="number"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>type<span class="login-danger">*</span></label>
                <select class="form-control" formControlName="etat">
                  <option value="active">Active</option>
                  <option value="suspendu">suspendu</option>
                </select>
              </div>
            </div>
            <div
              class="col-12 d-flex align-items-center justify-content-center"
            >
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Confirmer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
