<app-page-header
  [link]="'departements'"
  [prev]="'Départements'"
  [current]="'Home'"
></app-page-header>
<div class="student-group-form">
  <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchDepartments()">
    <!-- Search form -->
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Recherche par libellé ..."
            formControlName="keyword"
          />
        </div>
      </div>

      <div class="col-lg-2">
        <div class="search-student-btn">
          <button type="button" class="btn btn-primary">Chercher</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="page-title">Départements</h3>
            </div>
            <div class="col-auto text-end float-end ms-auto download-grp">
              <a routerLink="/departements/add" class="btn btn-primary">
                <i class="fas fa-plus"></i>
                </a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table
            class="table border-0 star-student table-hover table-center mb-0 datatable table-striped"
          >
            <thead class="student-thread">
              <tr>
                <th>
                  <div class="form-check check-tables">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="something"
                    />
                  </div>
                </th>
                <th>ID</th>
                <th>libellé</th>
                <th>Responsable</th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let module of modules">
                <td>
                  <div class="form-check check-tables">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="something"
                    />
                  </div>
                </td>
                <td>{{ module.id_module }}</td>
                <td>{{ module.libelle }}</td>
                <td>{{ module.responsable.nom_Prof+" "+ module.responsable.prenom_Prof }}</td>
                <td class="text-center">
                  <a
                    class="btn btn-sm bg-success-light me-2"
                    (click)="handleEditeDepart(module)"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                  <a
                    (click)="handleDeleteDepartment(module)"
                    class="btn btn-sm bg-danger-light"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>
