<app-page-header
  [link]="'profs'"
  [prev]="'Enseignants'"
  [current]="'Ajouter un Enseignant'"
></app-page-header>

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form [formGroup]="newProfFormGroup" (ngSubmit)="handleAddProf()">
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Informations sur l'Enseignant<span
                  ><a href="javascript:;"
                    ><i class="feather-more-vertical"></i></a
                ></span>
              </h5>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Prénom <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="prenom"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Nom <span class="login-danger">*</span></label>
                <input class="form-control" type="text" formControlName="nom" />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>CNE <span class="login-danger">*</span></label>
                <input class="form-control" type="text" formControlName="cin" />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group local-forms">
                <label>E-Mail <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="email"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group local-forms">
                <label>Téléphone <span class="login-danger">*</span></label>
                <input class="form-control" type="text" formControlName="tel" />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>département<span class="login-danger">*</span></label>
                <select class="form-control" formControlName="departement">
                  <option *ngFor="let dep of departements" [value]="dep.id_Dep">{{ dep.libelle_Dep }}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Spécialité <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="specialite"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Categorie<span class="login-danger">*</span></label>
                <select class="form-control" formControlName="categorie">
                  <option value=0>Active</option>
                  <option value=1>Suspendu</option>
                  <option value=2>Arrete</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label
                  >Nom d'utilisateur <span class="login-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="login"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Mot de passe <span class="login-danger">*</span></label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Etat de compte<span class="login-danger">*</span></label>
                <select class="form-control" formControlName="etat">
                  <option value="active">Active</option>
                  <option value="suspendu">Suspendu</option>
                  <option value="arrete">Arrete</option>
                </select>
              </div>
            </div>
            <div
              class="col-12 d-flex align-items-center justify-content-center"
            >
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Confirmer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
